<div class="day-view-container">
    <div class="time-slots-list-container">
        <h2 class="time-slots-header">{{moment-format '06-2015-01' 'dddd, MMMM Do YYYY' 'MM-YYYY-DD' }}</h2>
        <div id="time-slots-list">
          {{render-day-view-rows}}
        </div>
    </div>
    <div class="activity-details-container">
      {{#if showActivityDetails}}
        {{activity-details}}
      {{/if}}
    </div>
</div>
<div class="activity-tile first-tile" onclick={{action "toggleShowActivityDetails"}}>
    Activity 1
</div>
{{yield}}
